.section-logotheme {
    position: relative !important;
    min-height: 100vh;
    overflow: hidden;

    & .background-video {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill !important;
        z-index: -1;
    }
}

.section-retrospective {
    & .video-retrospective {
        padding: 0 0 5px;
    }

    & p {
        text-align: start !important;
    }
}

.section-event {
    & p {
        text-align: start !important;
    }
}

.section-attractions {
    background: url("../../../../site/images/home/molder-attraction.png");
    background-position: start;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 200px !important;
    padding-bottom: 90px !important;
    & p {
        text-align: start !important;
        font-family: var(--neoversesans-regular-font);
    }

    & h2 {
        font-family: var(--neoversesans-medium-font);
    }

    & h3 {
        color: var(--secondary-color) !important;
        font-family: var(--neoversesans-light-font);
    }

    & .div-content {
        position: absolute !important;
        right: 0 !important;
    }
}

.section-schedule {
    padding-top: 180px !important;
    padding-bottom: 0px !important;
    & .video-retrospective {
        background: url("../../../../site/images/home/bernardinho.png");
        background-position: start;
        background-size: cover;
        padding: 15px;
    }

    & .div-content {
        margin-left: -60px;
    }

    & p {
        text-align: start !important;
    }

    & h1 {
        color: var(--secondary-color) !important;
    }

    & .hour {
        margin-left: -20px !important;
        margin-bottom: 8px !important;
        font-size: 1.3rem !important;
    }

    & .component-hour {
        margin-top: -32px !important;
    }

    & .detail-hour {
        font-size: 1.3rem !important;
        font-family: var(--neoversesans-bold-font) !important;
    }

    & .section-padding {
        padding-bottom: 0px !important;
    }
}

.section-hotel {
    margin-top: 110px;
    padding-top: 110px !important;
    padding-bottom: 0px !important;
    background: url("../../../../site/images/home/molder-white.png");
    background-position: start !important;
    background-size: cover !important;

    & h1 {
        color: var(--primary-color) !important;
        font-family: var(--neoversesans-bold-font) !important;
    }

    & h2 {
        color: var(--primary-color) !important;
        font-family: var(--neoversesans-bold-font) !important;
    }

    & h3 {
        color: var(--primary-color) !important;
        font-family: var(--neoversesans-regular-font) !important;
    }

    & h3.hotel {
        color: var(--primary-color) !important;
        font-family: var(--neoversesans-bold-font) !important;
    }

    & p {
        color: var(--primary-color) !important;
        font-family: var(--neoversesans-bold-font) !important;
    }

    & .action-button {
        background-color: var(--primary-color) !important;
        color: var(--tertiary-color) !important;
    }

    & .buttonHotel {
        background: url("../../../../site/images/home/molder-hotel.png");
        color: var(--primary-color) !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        font-size: 19px;
        font-family: var(--neoversesans-medium-font);
    }
}

#divContentModalHotel {
    & td {
        letter-spacing: 3px !important;
    }
}

.section-suppliers {
    & p {
        color: var(--white-color) !important;
    }
}

/* .img-bernardinho {
    height: 280px;
    background: url("../../../../site/images/home/bernardinho.png");
    background-position: start;
    background-size: cover;
} */

@media (max-width: 576px) {
    /* .section-logotheme {
        & .background-video {
            width: 100%;
            height: auto;
        }
    } */
}

@media (max-width: 768px) {
    /* .section-logotheme {
        & .background-video {
            width: 100%;
            height: auto;
        }
    } */
    .section-hotel {
        padding-top: 180px !important;
        padding-bottom: 110px !important;
        background-position: start;
        background-size: contain;
        background-repeat: no-repeat;

        & .buttonHotel {
            background: url("../../../../site/images/home/molder-hotel.png");
            /* color: var(--white-color) !important; */
            background-size: cover !important;
            background-repeat: no-repeat !important;
            font-size: 19px;
        }
    }

    .section-attractions {
        padding-top: 110px !important;
        margin-bottom: 110px !important;
        padding-bottom: 150px !important;
        & .div-content {
            margin-top: 5px !important;
        }
    }

    .section-schedule {
        & .hour {
            margin-left: -25px !important;
            font-size: 0.8rem !important;
        }

        & .component-hour {
            margin-top: -32px !important;
        }

        & .detail-hour {
            font-size: 0.8rem !important;
        }

        & .div-content {
            margin-left: -50px;
        }

        & .second-column-schedule {
            margin-top: 0px !important;
        }
    }

    h1 {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 0.85rem;
    }
    p {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    /* .section-logotheme {
        & .background-video {
            width: 100%;
            height: auto;
        }
    } */
    .section-hotel {
        padding-top: 180px !important;
        padding-bottom: 110px !important;
        background-position: start;
        background-size: contain;
        background-repeat: no-repeat;

        & .buttonHotel {
            background: url("../../../../site/images/home/molder-hotel.png");
            /* color: var(--white-color) !important; */
            background-size: cover !important;
            background-repeat: no-repeat !important;
            font-size: 19px;
        }
    }

    .section-attractions {
        padding-top: 110px !important;
        margin-bottom: 110px !important;
        padding-bottom: 250px !important;
        & .div-content {
            margin-top: 5px !important;
        }
    }

    .section-schedule {
        & .hour {
            margin-left: -25px !important;
            font-size: 0.8rem !important;
        }

        & .component-hour {
            margin-top: -32px !important;
        }

        & .detail-hour {
            font-size: 0.8rem !important;
        }

        & .div-content {
            margin-left: -50px;
        }

        & .second-column-schedule {
            margin-top: 0px !important;
        }
    }

    h1 {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 0.85rem;
    }
    p {
        font-size: 0.9rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    /* .section-logotheme {
        & .background-video {
            width: auto;
            height: 100%;
        }
    } */
    .section-hotel {
        padding-top: 90px !important;
    }
    .section-attractions {
        padding-top: 120px !important;
        margin-bottom: 320px !important;
        padding-bottom: 300px !important;
        & .div-content {
            margin-top: 5px !important;
        }
    }

    .section-schedule {
        & .hour {
            margin-left: -25px !important;
            font-size: 0.8rem !important;
        }

        & .component-hour {
            margin-top: -32px !important;
        }

        & .detail-hour {
            font-size: 0.8rem !important;
        }

        & .div-content {
            margin-left: -50px;
        }
    }

    h1 {
        font-size: 2.4rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 0.85rem;
    }
    p {
        font-size: 0.9rem;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    /* .section-logotheme {
        & .background-video {
            width: 100%;
            height: auto;
        }
    } */
    .section-attractions {
        padding-bottom: 130px !important;
        & .div-content {
            margin-top: 5px !important;
        }
    }

    .section-schedule {
        & .hour {
            margin-left: -25px !important;
            font-size: 0.8rem !important;
        }

        & .component-hour {
            margin-top: -32px !important;
        }

        & .detail-hour {
            font-size: 0.8rem !important;
        }
    }

    h1 {
        font-size: 2.6rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 0.9rem;
    }
    p {
        font-size: 1rem;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    /* .section-logotheme {
        & .background-video {
            width: 100%;
            height: auto;
        }
    } */

    .section-attractions {
        padding-bottom: 240px !important;
        & .div-content {
            margin-top: 5px !important;
        }
    }

    .section-schedule {
        & .hour {
            margin-left: -25px !important;
            font-size: 0.8rem !important;
        }

        & .component-hour {
            margin-top: -32px !important;
        }

        & .detail-hour {
            font-size: 0.8rem !important;
        }
    }

    h1 {
        font-size: 2.6rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 0.9rem;
    }
    p {
        font-size: 1rem;
    }
}
