@font-face {
    font-family: "SoraLight";
    src: url("../Sora-Light.ttf");
}

@font-face {
    font-family: "SoraRegular";
    src: url("../Sora-Regular.ttf");
}

@font-face {
    font-family: "SoraMedium";
    src: url("../Sora-Medium.ttf");
}

@font-face {
    font-family: "SoraBold";
    src: url("../Sora-Bold.ttf");
}
