#formContact {
    background-color: #faf7ed;
    & h1 {
        font-size: 4.5vw;
        font-weight: 800;
        text-transform: uppercase;

        & span {
            font-size: 6.2vw;
            font-style: italic;
        }
    }
}

@media (max-width: 710px) {
    #formContact {
        background-color: #faf7ed;
        & h1 {
            font-size: 6.6vw !important;

            & span {
                font-size: 8.6vw !important;
            }
        }
    }
}

@media (min-width: 710px) and (max-width: 1200px) {
}
