header {
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
    z-index: 1030;
    font-family: var(--neoversesans-regular-font);
    letter-spacing: 5px !important;
}

nav {
    background: url("../../../site/images/home/bg.jpg") !important;

    & a {
        color: #fff !important;
        text-decoration: none;
        font-size: 0.6em !important;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
    }

    & a:hover {
        font-weight: bolder !important;
        font-size: 0.91em;
    }
}

.nav-item a {
    border-right: 5px solid var(--tertiary-color) !important;
    padding: 0px 39px 0px 39px !important;
    margin-bottom: 8px !important;
}

.nav-item .subscribe {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
    padding-top: 3px !important;
}

@media (max-width: 1200px) {
    .nav-item a {
        /* border-right: 5px solid var(--tertiary-color) !important; */
        border-right: none !important;
        /* padding: 0px 22px 0px 22px !important; */
        margin-bottom: 15px;
    }
}

@media (min-width: 1200px) and (max-width: 1265px) {
    nav {
        & a {
            font-size: 0.5em !important;
        }
    }
}
