:root {
    --neoversesans-light-font: NeoverseSansLight, sans-serif;
    --neoversesans-regular-font: NeoverseSansRegular, sans-serif;
    --neoversesans-medium-font: NeoverseSansMedium, sans-serif;
    --neoversesans-bold-font: NeoverseSansBold, sans-serif;
}
