/******************************************************************************
    GENERAL CONFIGS
 ******************************************************************************/

body {
    overflow-x: hidden !important;
    box-sizing: border-box !important;
    font-family: "SoraRegular" !important;
    font-size: 9px !important;
}

nav {
    z-index: 2000 !important;
    font-size: 14px !important;
}

span {
    font-size: 10px !important;
}

.datepicker {
    z-index: 2500 !important;
}

.modal {
    z-index: 3000 !important;
}

.select2-container--open {
    z-index: 3500 !important;
}

.swal2-container {
    z-index: 4000 !important;
}

.btn {
    font-size: 10px !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-secondary {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.btn-light {
    background-color: #ffffff !important;
    border-color: rgb(208, 208, 208) !important;
}

.btn-primary:hover {
    background-color: var(--hover-primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-secondary:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-light:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: #ffffff !important;
}

.btn:focus {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn:disabled {
    background-color: var(--light-background-color);
    border-color: var(--primary-color);
}

.btn:active {
    background-color: var(--secondary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn:visited {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-link {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: white !important;
    text-decoration: none !important;
}

.btn-link:hover {
    background-color: var(--hover-primary-color) !important;
    border-color: var(--primary-color) !important;
}

.card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
}

.card-header {
    background-color: var(--primary-color) !important;
    color: #ffffff !important;
}

.hide {
    display: none;
}

.toggle {
    min-width: 130px !important;
    min-height: 35px !important;
}

.shadow-default {
    border: solid 1px #e8e8e8 !important;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
}

/******************************************************************************
    FILTERS TABLES
 ******************************************************************************/

.divFilters {
    margin-top: 0px;
    margin-bottom: 15px;
}

.divFiltersTitle {
    background-color: var(--filter-div-background-color) !important;
    padding: 0px 0px 0px 10px;
    border-bottom: 1px solid var(--primary-color);
    border-top: 0px solid var(--primary-color);
}

.divFiltersTitle a {
    text-decoration: none;
    color: var(--primary-color);
}

.divFiltersTitle a:focus {
    color: var(--primary-color);
}

.divFiltersContent {
    background-color: var(--filter-div-background-color) !important;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid var(--primary-color);
    margin-left: 0px;
    margin-right: 0px;
    font-size: inherit !important;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/******************************************************************************
    TABLES
 ******************************************************************************/
#divGrid,
#dataGrid {
    margin-top: 15px;
    color: #636b6f !important;
}

#zero_config,
.divFatherTableClass,
.divFilters,
#selFilterStatus,
#zero_config_paginate,
#zero_config_info {
    font-weight: 400 !important;
}

#zero_config_manut,
.divFatherTableClass,
.divFilters,
#selFilterStatus,
#zero_config_manut_paginate,
#zero_config_manut_info {
    font-weight: 400 !important;
}

.page-link {
    color: var(--secondary-color) !important;
}

.page-link.active,
.active > .page-link {
    background-color: var(--primary-color) !important;
    color: var(--datatable-navigation-active-color) !important;
}

.page-link.disabled,
.disabled > .page-link {
    background-color: var(--datatable-navigation-backgrund-color) !important;
}

.page-link:hover {
    color: var(--secondary-color) !important;
    background-color: var(--hover-primary-color) !important;
}

#btnFilter {
    margin-top: 20px !important;
}

#btnFilter {
    color: #fff !important;
}

#btnFilter:active {
    outline: 0 !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px !important;
    background-color: var(--secondary-color) !important;
}

.link-btn-grid {
    text-decoration: none !important;
    cursor: pointer !important;
    width: 41px !important;
    height: 23px !important;
}

.link-btn-grid.btn-statistics {
    width: 100% !important;
    height: 100% !important;
    color: rgb(75, 123, 185) !important;
    background-color: rgba(103, 186, 234, 0.307) !important;
}

.link-btn-grid.lnk-delete {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(231, 35, 35, 0.819) !important;
}

.link-btn-grid.btn-download {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(0, 0, 0, 0.819) !important;
}

.link-btn-grid.btn-edit {
    color: rgb(255, 255, 255) !important;
    background-color: rgba(38, 114, 165, 0.819) !important;
}

.link-btn-grid.lnk-default {
    color: rgb(75, 123, 185) !important;
    background-color: rgba(103, 186, 234, 0.307) !important;
}

.link-btn-grid:active {
    background-color: var(--secondary-color) !important;
    color: white !important;
}

.link-btn-grid:hover {
    background-color: var(--secondary-color) !important;
    color: white !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--light-background-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-menu-dropdown {
    background-color: var(--primary-color) !important;
    text-decoration: none !important;
    color: white !important;
    width: 41px !important;
    height: 23px !important;
}

.btn-menu-dropdown:hover {
    background-color: var(--secondary-color) !important;
}

.link-dropdown-item {
    text-decoration: none !important;
    cursor: pointer !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--light-background-color) !important;
}

.dropdown-menu .dropdown-item:active {
    background-color: var(--primary-color) !important;
}

.subscriptions-badge {
    cursor: help !important;
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option {
    font-size: 11px !important;
}
